<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<meta name="author" content="{{ site.author}}">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="{{ "/business/marketing/presentation/reveal.js-3.2.0/css/reveal.css" | prepend: site.baseurl }}">
        {% if page.theme %}
		<link rel="stylesheet" href="{{ "/business/marketing/presentation/reveal.js-3.2.0/css/theme/" | prepend: site.baseurl | append: page.theme | append: ".css" }}" id="theme">
        {% else %}
		<link rel="stylesheet" href="{{ "/business/marketing/presentation/reveal.js-3.2.0/css/theme/solarized.css" | prepend: site.baseurl }}" id="theme">
        {% endif %}
		<link rel="stylesheet" href="{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/title-footer/title-footer.css" }}">
		<link rel="stylesheet" href="{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/gallery/gallery.css" }}">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="{{ "/business/marketing/presentation/reveal.js-3.2.0/lib/css/zenburn.css" | prepend: site.baseurl }}">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '{{ "/business/marketing/presentation/reveal.js-3.2.0/css/print/pdf.css" | prepend: site.baseurl }}' : '{{ "/business/marketing/presentation/reveal.js-3.2.0/css/print/paper.css"  | prepend: site.baseurl }}';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="{{ "/business/marketing/presentation/reveal.js-3.2.0/lib/js/html5shiv.js" | prepend: site.baseurl }}"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-state="no-title-footer">
					<h1>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
					<h3>{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}</h3>
					<p>
						<small>{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</small>
					</p>
				</section>

				{{ content }}

                {% if page.dummycontent %}
				<section>
					<h1>Thank you!</h1>
				</section>
                {% endif %}


			</div>

		</div>
		<script src="{{ "/business/marketing/presentation/reveal.js-3.2.0/lib/js/head.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/business/marketing/presentation/reveal.js-3.2.0/js/reveal.js" | prepend: site.baseurl }}"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
        minScale: 0.8,
        maxScale: 1,

				transition: 'none', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/lib/js/classList.js" | prepend: site.baseurl }}', condition: function() { return !document.body.classList; } },
					{ src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/markdown/marked.js" | prepend: site.baseurl }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/markdown/markdown.js" | prepend: site.baseurl }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/highlight/highlight.js" | prepend: site.baseurl }}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/zoom-js/zoom.js" | prepend: site.baseurl }}', async: true },
					{ src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/notes/notes.js" | prepend: site.baseurl }}', async: true },
					{ src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/title-footer/title-footer.js" | prepend: site.baseurl }}', async: true, callback: function() { title_footer.initialize('http://www.helotism.de/business/marketing/presentation/CLT_2016-03-20'); } },
          { src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/gallery/gallery.plugin.js" | prepend: site.baseurl }}', async: true, condition: function() { return !!document.querySelector('.gallery'); } },
          { src: '{{ "/business/marketing/presentation/reveal.js-3.2.0/plugin/tagcloud/tagcloud.js" | prepend: site.baseurl }}', async: true },
				]
			});


//FIXME
function SlideChangedHandler(event) {

if (!SlideChangedHandler.defaulttitlefooterbackground) {
SlideChangedHandler.defaulttitlefooterbackground = document.getElementById('title-footer').getAttribute('style');
}

if (event.currentSlide.dataset.domain == 'business') {
document.getElementById('title-footer').setAttribute('style', 'background:rgba(38,139,210,255)')
}
else if (event.currentSlide.dataset.domain == 'data') {
document.getElementById('title-footer').setAttribute('style', 'background:rgba(220,50,47,255)')
}
else if (event.currentSlide.dataset.domain == 'application') {
document.getElementById('title-footer').setAttribute('style', 'background:rgba(181,137,0,255)')
}
else if (event.currentSlide.dataset.domain == 'technology') {
document.getElementById('title-footer').setAttribute('style', 'background:rgba(133,153,0,255)')
}
else {
document.getElementById('title-footer').setAttribute('style', SlideChangedHandler.defaulttitlefooterbackground)
}

}

Reveal.addEventListener('slidechanged', SlideChangedHandler);
Reveal.addEventListener('ready', SlideChangedHandler);

		</script>

	</body>
</html>
