gitfs_remotes:
  - https://github.com/cprior/test.git:
    - root: application/physical/saltstack/srv/salt
    - base: master
  - https://github.com/cprior/test.git:
    - name: dnsmasq_formula
    - root: application/physical/vendor/saltstack-formulas/dnsmasq_formula
    - base: master
  - https://github.com/cprior/test.git:
    - name: users_formula
    - root: application/physical/vendor/saltstack-formulas/users_formula
