[Unit]
Description=An GPIO interrupt listener for a debounced button press to trigger an action.
After=local-fs.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'cd /opt/helotism/power-button_venv; source bin/activate; ./app.py'

[Install]
WantedBy=multi-user.target
